@model IEnumerable<Message>

@foreach (var item in Model)
{
    if (item.Type == "error")
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><i class="fas fa-times-circle"></i> Error!</b> @Html.Raw(@item.ShortDesc)
        </div>
    }

    if (item.Type == "info")
    {
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><i class="fas fa-info-circle"></i> Info!</b> @Html.Raw(@item.ShortDesc)
        </div>
    }

    if (item.Type == "warning")
    {
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><i class="fas fa-ban"></i> Warning!</b> @Html.Raw(@item.ShortDesc)
        </div>
    }

    if (item.Type == "success")
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><i class="fas fa-check-circle"></i> Success!</b> @Html.Raw(@item.ShortDesc)
        </div>
    }
}

